@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99vh;
}

.iphone {
  cursor: pointer;
  border: 10px solid #000000;
  border-radius: 45px;
  box-shadow: 2px 2px 15px 2px #e0e0e0;
  box-shadow: inset 0px 0px 35px 1px #000000;
  max-width: 345px;
  width: 100%;
  overflow: visible;
  height: 695px;
  outline: 1px solid #000000;
  background-image: url("../img/bg-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.iphone__header {
  height: 50px;
  padding: 0px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  ol {
    display: flex;
    margin-left: 10px;
    margin-right: 20px;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 0px;
    gap: 10px;
    li {
      padding: 0px 2px;
      i {
        color: #ffffffaf;
        font-size: 16px;
      }
    }
  }
  .iphone__head-options {
    background-color: #ffffff00;
    backdrop-filter: blur(2px);
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    border-radius: 45px;
    padding: 5px 8px;
    .camera {
      background: rgb(241, 241, 241);
      background: linear-gradient(
        90deg,
        rgb(35, 35, 35) 0%,
        rgba(4, 4, 4, 0.7321937321) 49%,
        rgb(36, 36, 36) 100%
      );
      width: 20px;
      height: 20px;
      display: inline-block;
      border-radius: 50%;
    }
  }
}

.iphone__body {
  width: 100%;
  height: 330px;
  padding: 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  .cube__list {
    width: 140px;
    height: 142px;
    border-radius: 20px;
    padding: 12px;
    background-color: #0c25308c;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    .cube__list-body {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .body__icons-link {
        width: 50px;
        height: 50px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        font-size: 28px;
        border: none;
        padding: 4px;
        border-radius: 10px;
        color: white;
        transition: all 0.4s;
        &:hover {
          transform: scale(1.3);
          cursor: pointer;
        }
      }
    }
  }
}

.search__options {
  width: 280px;
  height: 100px;
  margin: 20px;
  .form__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    padding: 6px 14px;
    background-color: #0c25308c;
    border-radius: 25px;
    label {
      font-size: 24px;
      color: white;
    }
    .search__input {
      width: 80%;
      border: none;
      padding: 5px 10px;
      outline: none;
      font-size: 24px;
      background-color: transparent;
      color: white;
      &::placeholder {
        color: white;
        font-size: 24px;
        text-transform: capitalize;
      }
    }

    .search__btn {
      width: 30px;
      padding: 12px;
      color: white;
      background-color: transparent;
      border: none;
      font-size: 24px;
    }
  }
}

.iphone__footer {
  position: fixed;
  bottom: 30px;
  margin: 20px;
  .shell {
    width: 285px;
    height: 85px;
    border-radius: 25px;
    background-color: #ffffff6c;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    a {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      padding: 10px 10px;
      border-radius: 15px;
      background-color: #000000;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.4);
      }
      i {
        font-size: 24px;
      }
      .fa-phone {
        color: white;
      }
      .fa-telegram {
        color: #229ed9;
      }
      .fa-twitter {
        color: #229ed9;
      }
      .fa-comment {
        color: greenyellow;
      }
    }
  }
}

.opens {
}
